html, body {
 margin: 10px;
 padding: 10px;
 }

body {
 background-color: rgb(50,50,50); 
 font-family: Arial;
  sans-serif; 
 font-size: 100%;
 }

h1 {
 font-size: 200%;
 	font-family: Arial;
	color: rgb(150,190,0);
	text-align: center;
 }

h2 {
 font-size: 150%; 
 color: rgb(20,150,255); 
 padding-left: 15px;
 }

p,ul,li,td {
	color: rgb(255,255,255);

 }

table, tr, th, td {
	color: white;
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
th {
	background-color: rgb(150,190,0);
}
td {
	background-color: rgb(120,120,120);
}

.header {
	position: relative;
	top: -40px;
	width: 100%;
	background-color: rgb(150,190,0);
	/*padding: 15px;*/
	text-align: center;
	font-size: 130%;
}
.nav {
	position: relative;
	top: 20px;
	width: 20%;
	height: 150px;
}

.nav a {
	background-color: rgb(120,120,120);
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}
.nav a:hover {
	background-color: #CCCCCC;
}
.nav a.home{
	background-color: rgb(150,190,0);
	color: white;
	font-weight: bold;
}

.section {
	position: relative;
	background-color: rgb(120,120,120);
	width: 75%;
	left: 22%;
	padding: 5px;
	top: 0%;
}

.pseudo
{
	position: relative;
	top : -50px;
	text-align: right;
}

a:link {
 color: #FEFCFB;
 text-decoration: none;
 }
a:visited {
 color: #FEFCFB;
 }
a:hover {
 color: #0A1128;
 text-decoration: none;
}
a:active, a:focus {
 color: #034078;
}

#poire {
	list-style-image: url(poire_small.png);
}
#pomme {
	list-style-image: url(20px.png);
}
#fraise {
	list-style-image: url(fraise.png);
}